body {
    background-color: antiquewhite;
}

.contendorGrilla {
    width: 100rem;
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
}